
.header-title {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.buttons {
  margin-bottom: 15px;
  align-items: center;
  text-align: center;
}

center-buttons {
}

.nav-button {
  padding: 10px;
  min-width: 90px;
  margin: 15px;
  background-color: white;
  border: solid 1px black;
  border-radius: 6px;
}

.message {
  margin-top: 20px;
  margin-bottom: 50px;
}

/*==================================================================================*/

